body{
    text-align: center;
    background: radial-gradient(circle , #a4bdc1, #07bada);
     background-color: lightgray;
     font-family: 'Fjalla One', sans-serif;
  
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
   
    margin: 1rem;
}
.btn-container{
    /* height: 500px;
    width: 500px;  */
   
    display: flex;
    justify-content: center;
   
    border-radius: 20px;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.flash {
    background-color: white;
  }
  .userFlash{
    background-color: green;
  }